# Ignore everything in the data directory
data/

# Ignore everything in the docs directory
docs/

#Ignore everything in the Logs directory
Logs/

# Ignore the video_classifier.weights.h5 file
notebooks/video_classifier.weights.h5
